.col {
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
}

.col_left-align {
    text-align: left;
}

.col_gap-s > * + * {
    margin-top: $pad-s;
}

.col_gap-s2 > * + * {
    margin-top: $pad-s2;
}

.col_gap-s3 > * + * {
    margin-top: $pad-s3;
}

.col_gap-m > * + * {
    margin-top: $pad-m;
}