.text-m {
    font-size: 1rem;
}

.text-s {
    font-size: $font-size-s;
}

.text-s2 {
    font-size: $font-size-s2;
}

.text-nowrap {
    white-space: nowrap;
}

.text-bold {
    font-weight: 500;
}

.text-black {
    color: white;
    background-color: black;
}

.text_white {
    color: $color-black;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}