.header {
    width: 100%;
    box-sizing: border-box;
    padding: $pad-m $pad-x;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 10;
    border: none;

    transition: width 0.2s, margin 0.2s, border 0.2s;
}

.header_float {
    width: calc(100% - #{$pad-m} * 2);
    margin: $pad-m;
    border: 1px solid gray;

    .dropdown__menu {
        border: 1px solid gray;
        border-top: none;
    }
}

.header__mobile-menu {
    flex: 1 1 0;
    display: none;
    flex-direction: row;
    align-items: center;
}

.header__mobile-menu > * + * {
    margin-left: $pad-s;
}

.header__links {
    display: block;
    flex: 1 1 0;
}

.header__links li + li {
    margin-left: $pad-m;
}

.header__name {
    flex: 1 1 0;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.header__user {
    flex: 1 1 0;
    text-align: right;
}

.header__user > *{
    margin-left: $pad-s;
}

.header__mobile-cart {
    display: none;
    flex: 1 1 0;
    text-align: right;
}


@media (max-width: 1000px) {
    .header__mobile-menu {
        display: flex;
    }
    .header__links {
        display: none;
    }
    .header__user {
        display: none;
    }
    .header__mobile-cart {
        display: block;
    }
}

@media (max-width: 500px) {
    .header {
        padding: $pad-s $pad-m;
    }
    .header_float {
        width: calc(100% - #{$pad-s} * 2);
        margin: $pad-s;
    }
}