.mobile-menu {
    width: 33vw;
    height: 100%;
    position: fixed;
    z-index: 20;
    background: white;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: $pad-x2 $pad-m;
    transition: left 0.3s;
}

.mobile-menu input {
    padding: $pad-s3;
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    border: 1px solid gray;
}

.mobile-menu__background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 33vw;
    background: black;
    z-index: -10;
    opacity: 0.3;
    transition: opacity 0.6s, left 0.45s;
}

.mobile-menu_hidden {
    left: -33vw;
}

.mobile-menu_hidden .mobile-menu__background {
    left: 100vw;
    opacity: 0;
    transition: opacity 0.1s;
}

#mobile-menu-button-hide {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 600px) {
    .mobile-menu {
        width: 66vw;
    }

    .mobile-menu__background {
        left: 66vw;
    }

    .mobile-menu_hidden {
        left: -66vw;
    }
}

@media (max-width: 400px) {
    .mobile-menu {
        width: 95vw;
    }

    .mobile-menu__background {
        left: 95vw;
    }

    .mobile-menu_hidden {
        left: -95vw;
    }
}